* {
  box-sizing: border-box;
  font-family: Helvetica;
  user-select: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: black;
  margin: 0;
}

#canvas-container {
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

canvas {
  background-color: lightblue;
  image-rendering: pixelated;
}
